*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 250, 250);


    .wrapper {
        position: relative;
        width: 40%;
        height: 80%;
        background-color: #fff;
        border-radius: 10px;


        header {
            position: relative;
            height: 10%;

            h1{
                position: absolute;
                font-size: 20px;
                left: 4%;
                top: 25%;

                div {
                    display: inline-block;
                    background-color: royalblue;
                    width: 30px;
                    border-radius: 10px;
                    text-align: center;
                    color: #fff;
                }

                
            }

            p{
                position: absolute;
                top: 35%;
                right: 10%;
                font-weight: 200;
                cursor: pointer;
            }
        }

        .message {
            border: 1px solid gray;
            background-color: rgb(253, 251, 251);
            width: 70%;
            margin: 5px 0 5px 50px;
            right: 0;
        }

        .posts {
            position: absolute;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 90%;
            height: 70%;
            left: 50%;
            transform: translate(-50%, 0);

            .watched {
                background-color: #fff !important;
            }

            .post {
                position: relative;
                width: 90%;
                height: 13%;
                margin: 5px;
                background-color: rgb(178, 189, 224);
                border-radius: 10px;

                img {
                    position: absolute;
                    left: 2%;
                    top: 50%;
                    transform: translate(0,-50%);
                    width: 50px;
                    height: 50px;
                }

                .text {
                    position: absolute;
                    width: 70%;
                    top: 50%;
                    left: 15%;
                    transform: translate(0,-50%);
                }

                .username {
                    font-weight: 700;
                }

                .event {
                    color: rgb(39, 39, 39);
                    font-weight: 700;
                }

                .time {
                    font-weight: 200;
                }
            }
        }
    }
}